.app-header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.btn {
    text-decoration: none;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    display: block;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    width: 170px;
    height: 32px;
    border: 0;
    background: #9ab73e;
    color: #fff;
    font: bold 16px/32px "Officina Sans C", Helvetica, Arial, "sans-serif";
    padding: 0 16px;
    -webkit-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn:hover {
    text-decoration: none;
    color: #fff;
    background: #b7b52a;
}

.image {
    margin: 24px 0;
}

.content ul {
    list-style: none;
}

.content li {
    position: relative;
    margin: 0 0 0.5em 0;
    padding: 0 0 0 16px;
}

.content ul > li::before {
    content: '';
    position: absolute;
    top: 0.75em;
    left: 4px;
    background: #8eb82d;
    width: 6px;
    height: 6px;
    margin: -4.5px -3px;
    border-radius: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content p, .content ol, .content ul {
    margin: 0 0 1em 0;
    padding: 0;
}

.main-table {
    margin: 24px -16px;
    padding: 0 16px;
    overflow: hidden;
    overflow-x: auto;
}

.main-table table {
    border-collapse: collapse;
    max-width: 100%;
    min-width: 450px;
}

.main-table th, .main-table td {
    border: 0;
    border-bottom: 1px solid #ece5cf;
    text-align: left;
    vertical-align: top;
    padding: 12px;
}

.main-table th:first-child, .main-table td:first-child {
    padding-left: 0;
}

.main-table th:last-child, .main-table td:last-child {
    padding-right: 0;
}

.main-table .center {
    text-align: center;
}

.main-table th {
    font-weight: bold;
}

.big {
    font-size: 18px;
}